.a:hover {
    text-decoration: none;
    color: white;
}

.previous:hover {
    background-color: #d4e8ff;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
    border: 2px solid #d4e8ff;
    padding: 5px;
    font-size: 18px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-btn {
    padding: 10px;
    border: 2px solid white;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 24px;
    background: transparent;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
    display: inline-block;
}

.btn-4 {
    position: relative;
    color: white;
    z-index: 2;
    padding: 10px;
    font-size: 24px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: transparent;
}

.btn-4:hover {
    border: none;
}

.btn-4:before,
.btn-4:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 2px solid;
    z-index: -3;
    transition: all 0.5s ease;
}

.btn-4:before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: white;
    border-left-color: whitesmoke;
}

.btn-4:after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: whitesmoke;
    border-right-color: ghostwhite;
    color: white;
}

.btn-4:hover:before,
.btn-4:hover:after {
    border-color: #d4e8ff;
    height: 100%;
    width: 100%;
    color: white;
}
